services:
  nextjs:
    build:
      context: ./frontend
    env_file:
      - .env
      - ./frontend/.env.local
    ports:
      - "127.0.0.1:${NEXTJS_PORT}:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    command: "npm run dev"
    depends_on:
      - api
    environment:
      - CSHARP_API_URL=http://api:${API_PORT}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

  api:
    build:
      context: ./api
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:${API_PORT}
      - MEDIA_STORAGE_PATH=${MEDIA_STORAGE_PATH}
    volumes:
      - "${MEDIA_STORAGE_MOUNT}:${MEDIA_STORAGE_PATH}"
